.show {
    z-index: -1;
}

.heading {
    margin: auto;
    padding-top: 10vw;
    font-size: 90px;
}

.home-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10vh;
}

.subheading {
    margin: auto;
    width: 50%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5vw;
}

.green-text {
    color: #51af7f;
}

.background {
    background-color: black;
}

.home-font {
    color: rgb(20, 25, 57);
}

.icon {
  height: 4.5rem;
  width: 4.5rem;
  position: relative;
  left: 38%;
  color: #51af7f;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
    .home-cards {
        display: block;
        text-align: center;
        margin: auto;
    }

    .home-card {
        margin: auto;
    }

    .grid {
        display: block;
    }

    .article {
        margin: 15px;
    }

    .heading {
        font-size: 50px;
    }

    .subheading {
        font-size: 18px;
    }

    .about, .contact {
        margin-top: 75px
    }
}

.li-space {
    margin: 0 0 15px 0;
}

.panel-color {
    background-color: black;
    border-color: white;
}

.gray-text {
    color: #9b9b9b;
}

.source-hover:hover {
    color: #69d89f;
}

